body{
    background-color: #121212;
}

/** text styles **/
.intro-title{
    font-weight: 700;
    font-size: 5.5vw;
    fill: white;
}

/** container styles **/
.container-fluid{
    padding: 0px;
}

.slide{
    height: 100vh;
}