body{
    background-color: #121212;
}

/** text styles **/
.intro-title{
    font-weight: 700;
    font-size: 5.5vw;
    fill: white;
}

.intro-instructions{
    font-weight: 200;
    font-size: 21px;
    fill: white;
}

.section-title{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
}

.big-stat{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: -10px;
}

/** container styles **/
.container-fluid{
    padding: 0;
}

.slide{
    height: 100vh;
}

.table-column{
    padding-right: 25px;
}

.divider{
    border-top: 1px solid #454545;
}

#detail-panel{
    color: white;
    position: absolute;
    z-index: 5000;
    margin: 5vh 7vh 5vh 7vh;
    padding: 20px 30px 20px 30px;
    height: 90vh;
    width: 450px;
    background-color: black;
}

.inline-icon{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

/** mapbox styles **/
#map-vis {
    position: relative;
    z-index: 0;
}

.mapboxgl-ctrl-top-right{
    margin: 20px;
}

.selected-tract{
    fill: darkgray;
    stroke: white;
    stroke-width: 1.5px;
}

.map-tooltip {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px #454545;
    position: absolute;
    text-align: left;
}

/** radar chart styles **/
body.radarChart {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 300;
    fill: #242424;
    text-align: center;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
    cursor: default;
}

#radar-chart .legend {
    font-family: 'Raleway', sans-serif;
    fill: white;
}

#radarChart .tooltip {
    fill: white;
}
.link{
    fill: none;
    stroke: white;
    stroke-width: 10px;
}
.title{
    font-size: 5px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px #454545;
    position: absolute;
    text-align: left;
}