body{
    background-color: #121212;
}

/** text styles **/
.intro-title{
    font-weight: 700;
    font-size: 5.5vw;
    fill: white;
}

.intro-instructions{
    font-weight: 200;
    font-size: 21px;
    fill: white;
}

/** container styles **/
.container-fluid{
    padding: 0;
}

.slide{
    height: 100vh;
}

.detail-panel{
    color: white;
    position: absolute;
    z-index: 5000;
    margin: 5vh 7vh 5vh 7vh;
    padding: 20px 30px 20px 30px;
    height: 90vh;
    width: 400px;
    background-color: black;
}

/** mapbox styles **/
.mapboxgl-ctrl-top-right{
    margin: 20px;
}